<%= render 'helpers/notice' %>

<h1>
  <span class="bd-content-title">
    <%= t('activerecord.models.comment.other') %>
  </span>
</h1>

<ul class="list-group list-group-flush">
  <% @admin_comments.each do |comment| %>
    <li class="list-group-item">
      <div class="float-right">
        <%= link_to t('helpers.actions.approve'), admin_comment_path(comment, admin_comment: {verified: true}), method: :put, class: 'btn btn-sm btn-success', 
        data: { confirm: t('helpers.confirm.destroy') } %>
        <%= link_to t('helpers.actions.destroy'), comment, method: :delete, class: 'btn btn-sm btn-danger', 
          data: { confirm: t('helpers.confirm.destroy') } %>
      </div>
      <strong>
      <span class="badge badge-light">
        <%= comment.commentable_translate_by_class_name %>
      </span>
      <span class="badge badge-light"><%= comment.locale_human %></span>
      <span class="badge badge-light"><%= comment.created_at_human %></span>
      <span class="d-block"><strong><%= comment.user.name %><strong></span>
      <p class="lead"><%= comment.content %></p>
    </li>
  <% end %>
</ul>