<div class="text-center">
  <%= render "devise/shared/error_messages", resource: resource %>
</div>

<%= form_for(resource, as: resource_name, 
        url: registration_path(resource_name),
        html: {class: "form-signin"}) do |f| %>
  
  <h1 class="h3 mb-3 font-weight-normal"><%= t('helpers.info.signup') %></h1>
    
  <%= f.label :name %>
  <%= f.text_field :name, class:"form-control mb-2", autofocus: true, autocomplete: "name" %>

  <%= f.label :email %>
  <%= f.email_field :email, class:"form-control mb-2", autofocus: true, autocomplete: "email" %>

  <%= f.label :password %>
  <% if @minimum_password_length %>
  <em> ( <%= t('helpers.info.characters_minimum', count: @minimum_password_length) %> )</em>
  <% end %>
  <%= f.password_field :password, class:"form-control mb-2", autocomplete: "new-password" %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class:"form-control mb-2", autocomplete: "new-password" %>

  <div class="actions">
    <%= f.submit t('helpers.actions.signup'), class: 'btn btn btn-primary btn-block' %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
