<%= form_with(model: admin_tag, local: true) do |form| %>
  <% if admin_tag.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= I18n.translate("errors.template.header", 
              model: t('activerecord.models.tag.one'), 
              count: admin_tag.errors.count) %>
      </h3>

      <ul>
        <% admin_tag.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :locale %>
    <%= form.select(:locale, @locales, {prompt: true}, {class: "form-control"} ) %>
  </div>

  <div class="actions">
    <%= link_to t('helpers.actions.back'), admin_tags_path, class: 'btn btn-sm btn-secondary' %>
    <%= form.submit submit, class: 'btn btn-sm btn-success' %>
  </div>

<% end %>