<%= form_with(model: admin_video, local: true) do |form| %>
  <% if admin_video.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= I18n.translate("errors.template.header", 
              model: t('activerecord.models.video.one'), 
              count: admin_video.errors.count) %>
      </h3>
      <ul>
        <% admin_video.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :url %>
    <%= form.text_field :url, class:"form-control" %>
    <small class="form-text text-muted"><%= t('helpers.info.url') %></small>
  </div>

  <div class="form-group">
    <%= form.label :tags %>
    <%= form.collection_select :tag_ids, @tags, :id, :name,
        { selected: admin_video.tags.pluck(:id), include_blank: true },
        {class: 'form-control', multiple: true, size: 5} %>
  </div>

  <div class="actions">
    <%= link_to t('helpers.actions.back'), admin_videos_path, class: 'btn btn-sm btn-secondary' %>
    <%= form.submit submit, class: 'btn btn-sm btn-success' %>
  </div>

<% end %>
