<!DOCTYPE html>
<html>
  <head>
    <title>Envixo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><%= t('helpers.menu.website') %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-5 mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="<%= news_index_path %>"> <%= t('activerecord.models.news.other')%></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= videos_path %>"> <%= t('activerecord.models.video.other')%></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= friends_path %>"> <%= t('activerecord.models.friend.other')%></a>
          </li>
        </ul>
        <span class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <%= current_user.name rescue nil %>
          </a>
          <div class="dropdown-menu">
            <% if can? :index, Admin::Comment %>
              <%= link_to t('helpers.menu.administration'), 
                  admin_comments_path, 
                  class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
            <% end %>
              <%= link_to t('helpers.menu.logout'), 
                    destroy_user_session_path, 
                    method: :delete, 
                    class: "dropdown-item" %>
          </div>
        </span>
        <span class="nav-item dropdown px-3">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <%= t('language') %>
          </a>
          <div class="dropdown-menu">
              <% Admin::Locale.all.each do |item| %>
                  <%= link_to item.first, 
                      url_for(locale: item.last), 
                      class: "dropdown-item" %>
              <% end %>
          </div>
        </span>
      </div>
    </nav>
    <div class="container mt-3">
      <%= yield %>
    </div>
  </body>
</html>
